.main{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(to right, white, white 50%, #111 50%, #111);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
}

.rechts{
    color: white;
}

.divcontainer h2{
    position: relative;
    top: -8rem;
    font-size: 42px;
    font-weight: bold;
}

.divcontainer p{
    font-size: 18px;
}

.knopje{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.knopje button{
    background-color: black;
    color: white;
    border: none;
    padding: .5rem 3rem;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
}

.knopje button:hover{
    border: 1px solid black;
    transform: scale(1.1);
    background-color: white;
    color: white;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: black;
}

@media screen and (max-width: 768px){

    .main{
        background: none;
    }
    .container{
        grid-template-columns: 1fr;
        background-color: white;
        gap: 4em;
    }

    .divcontainer h2{
        top: 0;
    }

    .rechts{
        background-color: #111;
    }
}
