/*Hoofd Titel text*/
.main{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#titel{
    transition: .4s all;
}

.container h1{
    font-size: 64px;
    font-weight: bold;
}

#titel:hover{
    letter-spacing: 2px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container span{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container p {
    position: relative;
    top: -4rem;
    font-size: 28px;
}

.arrow{
    position: absolute;
    justify-self: center;
    margin-top: 40rem;
}

.arrow svg{
    transition: 0.5s all;
}

.arrow svg:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/*Hoofd Titel text*/

/*Korte info section*/
.info{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
    background-image: linear-gradient(to right, #111, #111 50%, white 50%, white);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0.5);
    color: white;
}

.infocontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
}

.infocontainer h2{
    font-size: 32px;
    font-weight: bold;
}

.infocontainer p{
    max-width: 400px;
}

.rechts{
    color: black;
}
/*Korte info section*/

/*Talen kennis section*/
.languages{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin-bottom: 5rem;
}

.wrapper h1{
    font-size: 64px;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
}

.griditem{
    min-width: 300px;
    min-height: 200px;
    max-height: 200px;
}

.griditem img{
    max-height: 150px;
    max-width: 150px;
}
/*Talen kennis section*/

/*Contact section*/

.contact{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.contact h1{
    font-size: 64px;
    font-weight: bold;
}

.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "name name . Subject Subject"
    ". . . . ."
    "Email Email . socials socials"
    ". . . . ."
    "Message Message Message Message Message"
    "Message Message Message Message Message"
    "Message Message Message Message Message"
    ". . . . ."
    ". . . buttons buttons";
}


.contact form input, .contact textarea{
    font-size: 24px;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    outline: none;
    color: black;
}
.name { grid-area: name; }
.Email { grid-area: Email; }
.Subject { grid-area: Subject; }
.Message {
    grid-area: Message;
    resize: none;
}
.socials { grid-area: socials; }
.buttons {
    grid-area: buttons;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: #fff;
    background: black;
    border-radius: .8rem;
    text-decoration: none;
    transition: all .5s ease;
    border: none;
}

.buttons:hover{
    background: #888;
    color: black;
    cursor: pointer;
}

.socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.socials svg{
    position: relative;
    top: 10px;
    transition: 0.5s all;
}

.socials svg:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/*Contact section*/

/*Responsive*/
/*make a media query for mobile*/
@media screen and (max-width: 768px){

    .info{
        background: none;
    }

    .infocontainer{
        grid-template-columns: 1fr;
        background: #111;
        gap: 4rem;
    }

    .rechts{
        background: #fff;
    }

    .arrow{
        margin-top: 27rem;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}