.main{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#titel{
    transition: .4s all;
}

.container h1{
    font-size: 64px;
    font-weight: bold;
}


#titel:hover{
    letter-spacing: 2px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container span{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container p {
    position: relative;
    top: -4rem;
    font-size: 28px;
}

.info{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
    background-image: linear-gradient(to right, #111, #111 50%, white 50%, white);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0.5);
    color: white;
}

.infocontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
}

.infocontainer h2{
    font-size: 32px;
    font-weight: bold;
}

.infocontainer p{
    max-width: 400px;
}

.rechts{
    color: black;
}

.languages{
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.wrapper h1{
    font-size: 64px;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.griditem{
    min-width: 300px;
    min-height: 300px;
    max-height: 300px;
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.5);
}